
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    body {
      line-height: 1.6;
      background-color: #f4f4f4;
      color: #333;
    }

    header {
      background-color: #4e4b4f;
      color: white;
      padding: 20px 0;
      text-align: center;
    }

    nav {
      background-color: #3d3d41;
      display: flex;
      justify-content: center;
      gap: 50px;
      padding: 10px 0;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

    .hero {
      background: url('https://via.placeholder.com/1200x400') no-repeat center center/cover;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 2px 2px 4px #000;
    }

    .hero h1 {
      font-size: 3em;
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 40px;
    }

    .content div {
      background-color: rgb(248, 246, 246);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    footer {
      background-color: #252020;
      color: #aaa;
      text-align: center;
      padding: 20px;
      margin-top: 20px;
      
    }

    @media(max-width: 768px) {
      .content {
        grid-template-columns: 1fr;
      }
    }
    